@import 'variaveis';

$h-spotify-logo: 120px;

:host {
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: $branco;
    box-shadow: 1px 0 15px #00000012;
    // border: 1px solid black; // border
   .menus {
     flex: 1;
     flex-direction: column;
     height: 100%;
     padding: 0 40px;
    //  border: 1px solid red; // border
       .image-container{
           height: $h-spotify-logo;
           img {
            width: 70%;
           }
       }
     }
}